header {
    padding-top: 0.5rem;
}

main {
    padding: 24px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.mnone { margin: 0; }
.pnone { padding: 0; }
.mtnone { margin-top: 0; }
.ptnone { padding-top: 0; }
.mrnone { margin-right: 0; }
.prnone { padding-right: 0; }
.mbnone { margin-bottom: 0; }
.pbnone { padding-bottom: 0; }
.mlnone { margin-left: 0; }
.plnone { padding-left: 0; }
.mxxs { margin: 0.125rem; }
.pxxs { padding: 0.125rem; }
.mtxxs { margin-top: 0.125rem; }
.ptxxs { padding-top: 0.125rem; }
.mrxxs { margin-right: 0.125rem; }
.prxxs { padding-right: 0.125rem; }
.mbxxs { margin-bottom: 0.125rem; }
.pbxxs { padding-bottom: 0.125rem; }
.mlxxs { margin-left: 0.125rem; }
.plxxs { padding-left: 0.125rem; }
.mxs { margin: 0.25rem; }
.pxs { padding: 0.25rem; }
.mtxs { margin-top: 0.25rem; }
.ptxs { padding-top: 0.25rem; }
.mrxs { margin-right: 0.25rem; }
.prxs { padding-right: 0.25rem; }
.mbxs { margin-bottom: 0.25rem; }
.pbxs { padding-bottom: 0.25rem; }
.mlxs { margin-left: 0.25rem; }
.plxs { padding-left: 0.25rem; }
.msm { margin: 0.5rem; }
.psm { padding: 0.5rem; }
.mtsm { margin-top: 0.5rem; }
.ptsm { padding-top: 0.5rem; }
.mrsm { margin-right: 0.5rem; }
.prsm { padding-right: 0.5rem; }
.mbsm { margin-bottom: 0.5rem; }
.pbsm { padding-bottom: 0.5rem; }
.mlsm { margin-left: 0.5rem; }
.plsm { padding-left: 0.5rem; }
.mmd { margin: 1rem; }
.pmd { padding: 1rem; }
.mtmd { margin-top: 1rem; }
.ptmd { padding-top: 1rem; }
.mrmd { margin-right: 1rem; }
.prmd { padding-right: 1rem; }
.mbmd { margin-bottom: 1rem; }
.pbmd { padding-bottom: 1rem; }
.mlmd { margin-left: 1rem; }
.plmd { padding-left: 1rem; }
.mlg { margin: 2rem; }
.plg { padding: 2rem; }
.mtlg { margin-top: 2rem; }
.ptlg { padding-top: 2rem; }
.mrlg { margin-right: 2rem; }
.prlg { padding-right: 2rem; }
.mblg { margin-bottom: 2rem; }
.pblg { padding-bottom: 2rem; }
.mllg { margin-left: 2rem; }
.pllg { padding-left: 2rem; }
.mxl { margin: 4rem; }
.pxl { padding: 4rem; }
.mtxl { margin-top: 4rem; }
.ptxl { padding-top: 4rem; }
.mrxl { margin-right: 4rem; }
.prxl { padding-right: 4rem; }
.mbxl { margin-bottom: 4rem; }
.pbxl { padding-bottom: 4rem; }
.mlxl { margin-left: 4rem; }
.plxl { padding-left: 4rem; }
.mxxl { margin: 8rem; }
.pxxl { padding: 8rem; }
.mtxxl { margin-top: 8rem; }
.ptxxl { padding-top: 8rem; }
.mrxxl { margin-right: 8rem; }
.prxxl { padding-right: 8rem; }
.mbxxl { margin-bottom: 8rem; }
.pbxxl { padding-bottom: 8rem; }
.mlxxl { margin-left: 8rem; }
.plxxl { padding-left: 8rem; }
