a {
    color: #4a4a4a
}

.navBarLoggedOut {
    margin: 1.4rem;
    display: flex;
}

#navBarAvatar {
    height: 50px;
    border-radius: 50px;
    max-height: 3.75rem;
}

.dropdownMenu {
    right: 0;
    left: initial;
    width: 3rem;
    top: 87%;
}

a:hover{
    color:#3273dc
}

.profilItems a {
    margin-left: 1.4rem;
}

.dropdownItem:hover {
    background-color: #fafafa;
}
